<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulations, <%= @awardee.firstname %> <%= @awardee.lastname %>, you've been given an award!</h1>
    <p>
      <%= @awarder.firstname %> <%= @awarder.lastname %> has given you an award for <%= @award.award_type %>.
      Open the attached PDF to view your award!
    </p>
    <p>Have a great day!</p>
  </body>
</html>