<%= simple_form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :firstname %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :lastname %>
  </div>

  <div class="field">
    <%= f.label :email_address %>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <br/>
  <h4>Security Questions</h4>

  <div class="field">
    <p>What is your favorite color?</p>
    <%= f.text_field :answer1 %>
  </div>

  <div class="field">
    <p>What is the name of your high school?</p>
    <%= f.text_field :answer2 %>
  </div>

  <div class="field">
    <p>At what age did you get your driver's license?</p>
    <%= f.text_field :answer3 %>
  </div>

  <h4>Signature</h4>
  <%= f.input_field :signature, as: :hidden, class: 'signature_pad_input' %>
   <div class="signature_pad text-center">
     <div class="signature_pad_body">
       <canvas></canvas>
     </div>
     <div class="signature_pad_footer">
       <div class="text-muted">Sign above</div>
       <button type="button" class="btn btn-default signature_pad_clear">Clear</button>
     </div>
   </div>
  <div class="actions">
    <%= f.submit :submit, :class => 'btn signature_pad_save' %>
  </div>
<% end %>
