<h3>Reporting</h3>
<!-- tabs example: https://jqueryui.com/tabs/ -->
<div id="tabs">
  <ul>
    <li><a href="#all_awards">All Awards</a></li>
    <li><a href="#user_awards">Awards for User</a></li>
    <li><a href="#by_user">Awards Given by User</a></li>
  </ul>

  <div id="all_awards">
    <%= pie_chart @award_overview %>
  </div>

  <div id="user_awards">
    <p>Select user:</p>

    <%= form_tag do %>
      <div class="field">
        <%= label_tag :name %>
        <%= select_tag :user_awards_dropdown, options_from_collection_for_select(@user_select, "id", "full_name"), class: 'user_awards_dropdown' %>
      </div>
    <% end %>
    <canvas id="userChart"></canvas>

  </div>
  <div id="by_user">
    <p>Select user:</p>

    <%= form_tag do %>
      <div class="field">
        <%= label_tag :name %>
        <%= select_tag :by_user_dropdown, options_from_collection_for_select(@user_select, "id", "full_name"), class: 'by_user_dropdown' %>
      </div>
    <% end %>

    <canvas id="byChart"></canvas>
  </div>
</div>
