<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<%= form_for :users do |f| %>
  <%= f.label :email %><br>
  <%= f.text_field :email %>
  <br><br>
  <%= f.label @question %><br>
  <%= f.text_field :answer %>
  <br><br>
  <%= f.submit 'Submit' %>
<% end %>