<%= form_for(award) do |f| %>
  <% if award.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(award.errors.count, "error") %> prohibited this award from being saved:</h2>

      <ul>
      <% award.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.collection_select :name, User.order(:firstname), :id, :firstname, include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :type %>
    <%= f.text_field :type %>
  </div>

  <div class="field">
    <%= f.label :granted %>
    <%= f.datetime_select :granted %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
