<%= form_for(award) do |f| %>
  <% if award.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(award.errors.count, "error") %> prohibited this award from being saved:</h2>

      <ul>
      <% award.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.collection_select :name, User.where(role: 'user').order(:firstname), :full_name, :full_name, include_blank: true %>
  </div>

  <!-- using array as values for collection_select: http://stackoverflow.com/questions/20122257/ror-collection-select-from-array -->
  <div class="field">
    <%= f.label :award_type %>
    <%= f.collection_select :award_type, Award.get_awards, :to_s, :to_s, include_blank: false %>
  </div>

  <div class="field">
    <%= f.label :granted %>
    <%= f.datetime_select :granted, :order => [:month, :day, :year], ampm: true, minute_step: 15 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
