<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @award.award_type %>
</p>

<p>
  <strong>Granted:</strong>
  <%= @award.created_at.strftime("%m/%d/%Y at %I:%M %p %Z") %>
</p>
<% if @award.given_by == current_user.id %>
  <%= link_to 'Edit', edit_award_path(@award) %> |
<% end %>
<%= link_to 'Back', awards_path %>
