<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @award.type %>
</p>

<p>
  <strong>Granted:</strong>
  <%= @award.granted %>
</p>

<%= link_to 'Edit', edit_award_path(@award) %> |
<%= link_to 'Back', awards_path %>
